<header class="site-header">
  <div class="wrapper">
    {%- assign lang = page.lang | default: "fr" -%}
    {%- assign nav_data = site.data.navigation[lang] -%}
    {%- assign home = nav_data.menu | first -%}
    
    <a class="site-title" rel="author" href="{{ home.url | relative_url }}">{{ site.title | escape }}</a>
    
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      
      {% include nav-items.html navigation = nav_data.menu %}
      
      <div class="header-controls">
        {% include theme-toggle.html %}

        <div class="lang-switcher">
          {%- if lang == "fr" -%}
            <a href="{{ page.url | prepend: '/en' | relative_url }}" class="lang-link">EN</a>
          {%- else -%}
            <a href="{{ page.url | remove_first: '/en' | relative_url }}" class="lang-link">FR</a>
          {%- endif -%}
        </div>
      </div>

      <label for="nav-trigger">
        <span class="menu-icon">
          <i class="bi bi-list"></i>
        </span>
      </label>
    </nav>
  </div>
</header>
